# Binaries
/bin/
/*.exe
/*.dll

# Test binary
*.test

# Output of the go coverage tool
*.out

# IDE
.idea/
.vscode/

# Go workspace file
go.work
go.work.sum

# Env file
.env

# OS
.DS_Store
.Trashes
ehthumbs.db
Thumbs.db